server:
  port: 8080

spring:
  application:
    name: kodi-api
  autoconfigure:
    exclude:
      - org.springframework.boot.autoconfigure.jdbc.DataSourceAutoConfiguration
      - org.springframework.boot.autoconfigure.orm.jpa.HibernateJpaAutoConfiguration

security:
  jwt:
    secret: "change-this-secret-to-a-very-long-random-string-please-1234567890"
    validityMs: 3600000

kodi:
  patterns:
    dir: "data/patterns"

management:
  endpoints:
    web:
      exposure:
        include: health,info
  endpoint:
    health:
      show-details: never

springdoc:
  api-docs:
    enabled: true
  swagger-ui:
    enabled: true
    path: /swagger-ui
